# Entorno virtual 
.venv/  
 
# Archivos generados por Python 
__pycache__/ 
*.pyc 
 
# Configuración local del editor 
.vscode/ 
 
# Archivos del sistema operativo 
.DS_Store 
Thumbs.db 
Verificar con g